<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.board.domain.post.PostMapper">
    <!-- tb_post 테이블 전체 컬럼 -->
    <sql id = "postColumns">
        id,
        title,
        content,
        writer,
        view_cnt,
        notice_yn,
        delete_yn,
        created_date,
        modified_date
    </sql>

    <!-- save post -->
    <insert id = "save" parameterType="com.study.board.domain.post.PostRequest"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_post (
            <include refid="postColumns" />
        ) VALUES (
            #{id},
            #{title},
            #{content},
            #{writer},
            0,
            #{notice_yn},
            0,
            NOW(),
            NULL
        )
    </insert>

    <!-- 게시글 상세 정보 조회 -->
    <select id = "findById" parameterType="long" resultType="com.study.board.domain.post.PostResponse">
        SELECT
            <include refid="postColumns" />
        FROM
            tb_post
        WHERE
            id = #{value}
    </select>

    <!-- update post -->
    <update id = "update" parameterType="com.study.board.domain.post.PostRequest">
        UPDATE tb_post
        SET
            modified_date = NOW(),
            title = #{title},
            content = #{content},
            writer = #{writer},
            notice_yn = #{notice_yn}
        WHERE
            id = #{id}
    </update>

    <!-- delete post -->
    <delete id = "deleteById" parameterType="long">
        UPDATE tb_post
        SET
            delete_yn=1
        WHERE
            id = #{id}
    </delete>

    <!-- find list of posts -->
    <select id = "findAll" resultType="com.study.board.domain.post.PostResponse">
        SELECT
            <include refid="postColumns" />
        FROM
            tb_post
        WHERE
            delete_yn = 0
        ORDER BY
            id DESC
    </select>

    <update id="cntPlus" parameterType="Long">
        UPDATE
            tb_post
        SET
            view_cnt =view_cnt + 1
        WHERE
            id=#{id}
    </update>
</mapper>